<!DOCTYPE html>
<html lang="ru">
<head>
    <% include blocks/head.ejs %>
    <title>Cist Nure CSV to JSON</title>
</head>
<body>
<div class="container">
    <form action="/" method="post">
        <div class="form-group">
            <label for="group_id">Id группы</label>
            <input type="number" class="form-control" id="group_id" placeholder="6283377">
        </div>
        <div class="form-group">
            <label for="date_start">Дата начала семестра</label>
            <input class="form-control" type="date" id="date_start" name="date_start">
        </div>
        <div class="form-group">
            <label for="date_end">Дата конца семестра</label>
            <input class="form-control" type="date" id="date_end" name="date_end">
        </div>
        <button class="btn btn-danger send-button">Запросить</button>
    </form>
</div>
</body>
</html>
