<!doctype html>
<html lang="ru">
<head>
    <% include blocks/head.ejs %>
    <title>Result</title>
    <script>
        $(document).ready(function () {
            $('#download').click(function () {
                window.location('http://' + document.domain + ':' + location.port + '/static/result.json');
            });
        });
    </script>
</head>
<body>
<div class="container">
    <label for="result_area">Result</label>
    <textarea class="form-control" id="result_area" rows="20"></textarea>
    <br>
    <button class="btn btn-danger send-button" id="download">Download</button>
</div>
</body>
</html>