<!doctype html>
<html lang="en">
<head>
    <% include blocks/head.ejs %>
    <title>Result</title>
</head>
<body>
<div class="container">

    <div class="form-group">
        <label for="result_area">Result</label>
        <textarea class="form-control" id="result_area" rows="20"></textarea>
    </div>
    <button class="btn btn-danger send-button" id="copy">Копировать</button>
</div>
</body>
</html>